<% include partials/header %>
<form class="col s12 container" action="/update/<%= idnegocio._id%>" method="POST" style="margin-top:5%;">
  <div class="row">
    <div class="input-field col s12">
        <input id="nombre" type="text" name='Name' class="validate" required value="<%= idnegocio.Name%>">
        <label for="nombre">Nombre Establecimiento</label>
    </div>
    <div class="input-field col s12">
      <input id="direccion" type="text" name="Address" class="validate" required value="<%= idnegocio.Address%>">
      <label for="direccion">Dirección</label>
    </div>
    <div class="input-field col s12">
      <input id="email" type="email" name="Email" class="validate" required value="<%= idnegocio.Email%>">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input id="telefono" type="number" name="Phone" class="validate" required value="<%= idnegocio.Phone%>">
      <label for="telefono">Teléfono</label>
    </div>
    <div class="input-field col s12">
      <select name="Category">
        <option value="" disabled selected>Seleccione una Categoría</option>
        <option value="Comida">Comida</option>
        <option value="Bebidas">Bebidas</option>
        <option value="Medicina">Medicina</option>
      </select>
    </div>
  </div>
  <button class="btn waves-effect waves-light green" type="submit">Enviar
    <i class="material-icons right">arrow_forward</i>
  </button>
</form>

  <% include partials/footer %>